
###> symfony/framework-bundle ###
/.env
/public/bundles/
/var/
/vendor/
.idea/
*.orig
**/*.bak
test-reports/
tmp/
sftp-config.json
.scannerwork/
target/

###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###
